<div id="connect_button">
    <a href="/connect"><img src="sign_in_with_twitter.gif"/></a>
</div>
<h2>About</h2>
<p>
    Sinitter is an application to demonstrate the integration of Twitter OAuth with <a href="http://www.sinatrarb.com/">sinatra</a> and
    also serves as a live test for the <a href="http://github.com/moomerman/twitter_oauth/tree/master">twitter_oauth</a> Ruby gem.
</p>
<p>The <a href="http://github.com/moomerman/sinitter/tree/master">source code</a> for this application is available on github.</p>
<p>Created and maintained by <a href="http://moocode.com/foo">Richard Taylor</a> (<a href="http://twitter.com/moomerman">@moomerman</a>). Any comments/suggestions welcome</p>


<h2>Public Timeline</h2>
<div class="timeline">
    <% @tweets.each do |status| %>
        <p>
            <div style="float:left; margin:5px">
                <a href="http://twitter.com/<%= status['user']['screen_name'] %>">
                    <img src="<%= status['user']['profile_image_url'] %>" width="48" height="48"/>
                </a>
            </div>
            <div style="">
                <a href="http://twitter.com/<%= status['user']['screen_name'] %>">@<%= status['user']['screen_name'] %></a>
                <%= status['text'] %>
            </div>
            <br clear="all"/>
        </p>
    <% end %>
</div>