<div class="eight columns">
  <p>Get your own <span class="monster"><%= monster_adjective %> <%= monster_nickname %></span> shape and feed it some music.</p>
  <%= erb(:_social) %>
</div>
<div class="eight columns">
  <%= form('/go', :get) %>
    <%= label(:user1, :lastfm, 'Enter a Last.fm User Name') %>
    <%= input(:user1, :lastfm) %>
  <%= submit %>
</div>
