<div class="row">
  <div class="six columns">
    <canvas data-processing-sources="/processing/app.pde"></canvas>
  </div>
  <div class="six columns">
    <h2>I'm listening to</h2>    
    <ul>
      <% @tracks.each do |track| %>
        <li><%= track.artist.name %> - <%= track.title %></li>
      <% end %>
    </ul>
    <h2>Random fact</h2>
    <% rand_artist = @tracks[rand(@tracks.size)].artist %>
    <% subjects = rand_artist.subjects %>
    <% rand_subject = subjects[rand(subjects.size)] %>
    <p>
      <%= rand_artist.name %> is a <%= rand_subject['label'] %>
    </p>
  </div>
</div>

<div id="msg">  
</div>
<script type="application/javascript">
    var jsString = "Hello from JavaScript!";
    var radius;
    var delay;
    var setupAvatar = function() {
      radius = <%= rand(100).to_f %>;
      delay = <%= rand(16) %>
    }
    var printMessage = function (msg) {
      document.getElementById('msg').innerHTML = "Message: " + msg;  
    };
</script>  
