<div class="row">
  <div class="six columns" id="processing-sketch">
    <canvas data-processing-sources="/processing/app.pde"></canvas>
  </div>
  <div class="six columns">
    <h2>Hi, I'm <%= @username %>. <br>I'm listening to:</h2>
    <ul>
      <% @tracks.each do |track| %>
        <li><%= track.artist.name %> - <%= track.title %></li>
      <% end %>
    </ul>
    
    <h2>I know more than you</h2>
    <% rand_artist = @tracks[rand(@tracks.size)].artist %>
    <% subjects = rand_artist.subjects %>
    <% rand_subject = subjects[rand(subjects.size)] %>
    <p>
      <%= rand_artist.name %> is a <%= rand_subject['label'] %>
    </p>
    
    <h2>Pick a fight!</h2>
    <%= form('/go', :get) %>
      <%= hidden(:user1, :lastfm, :value => @username) %>
      <%= label(:user2, :lastfm, 'Fight Last.fm User Name') %>
      <%= input(:user2, :lastfm) %>
    <%= submit %>
    
    
  </div>
</div>

<%= erb(:_setup_avatar) %>
