<div class="six columns" id="processing-sketch">
  <canvas data-processing-sources="/processing/app.pde"></canvas>
  <%= erb(:_social) %>
  <h3>Characteristics</h3>
  <ul>
  <li>Strength: <%= (Magicbox::Track.avatar_size(@tracks) * 100).round %></li>
  <li>Happiness: <%= (Magicbox::Track.avatar_mood(@tracks) * 100).round %></li>
  <li>Attack: <%= (Magicbox::Track.avatar_colour(@tracks) * 100).round %></li>
  <li>Adrenaline: <%= (Magicbox::Track.avatar_frequency(@tracks) * 100).round %></li>
  <li>Territory: <%= (Magicbox::Track.avatar_amplitude(@tracks) * 100).round %></li>
  <li>Speed: <%= (Magicbox::Track.avatar_speed(@tracks) * 100).round %></li>
  </ul>
</div>
<div class="eight columns">
  <h2>
    <%= monster_greetings %><br/>
    I'm <%= @username %>'s <span class="monster"><%= monster_adjective %> <%= monster_nickname %></span> <%= monster_shape(Magicbox::Track.avatar_shape(@tracks)) %>.
  </h2>
  <% if @tracks.any? and not @tracks.first.played_too_long_ago?%>
    <p>
      He's just listened to <%= @tracks.first.title %> by <a href="<%= @tracks.first.artist.seevl_uri %>"><%= @tracks.first.artist.name %></a>.
      It was <%= track_appreciation(@tracks.first) %>.
    </p>
    <p>My owner also recently enjoyed:</p>
    <ul>
      <% @tracks.each do |track| %>
        <li><a href="<%= track.artist.seevl_uri %>"><%= track.artist.name %></a> - <%= track.title %></li>
      <% end %>
    </ul>
    
    <% rand_artist = @tracks.sample.artist if @tracks.any? %>
    <% subjects = rand_artist.subjects %>
    <% if rand_artist and subjects.any? %>
      <h2>I know more than you</h2>
      <p>
        <a href="<%= rand_artist.seevl_uri %>"><%= rand_artist.name %></a> is a <a href="<%= subjects.sample['uri'] %>"><%= subjects.sample['label'] %></a>
      </p>
    <% end %>
  
    <h2>Pick a fight!</h2>
    <%= form('/go', :get) %>
      <%= hidden(:user1, :lastfm, :value => @username) %>
      <%= label(:user2, :lastfm, 'Fight Last.fm User Name') %>
      <%= input(:user2, :lastfm) %>
    <%= submit %>
  <% else %>
    <p>My owner didn't feed me for ages...</p>
    <p><%= sad_monster %></p>
    
  <% end %>
</div>
<%= erb(:_setup_avatar) %>
